<!-- NAVBAR SECTION -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top pt-5">
  <div class="container">
    <div class="navbar-header">
      <a href="" class="navbar-brand">
        <img class="navbarjk" src="../../../assets/navbar/JK logo.png" alt="">
      </a>
    </div>
    <div id="navbarlinks" class="collapse navbar-collapse border">
      <ul class="navbar-nav border">
        <li class="nav-item p-3"><a href="" class="navbar-link text-white text-decoration-none">ABOUT</a></li>
        <li class="nav-item p-3"><a href="" class="navbar-link text-white text-decoration-none">WORKS</a></li>
        <li class="nav-item p-3"><a href="" class="navbar-link text-white text-decoration-none">CONTACT</a></li>
      </ul>
    </div>
  </div>
</nav>
