<!-- NAVBAR SECTION -->
<div id="navbar-background">
  <div id="navbar-principal">
    <img id="navbar-logo" src="../../assets/navbar/JK logo.png" alt="">
    <nav id="navbar">
      <ul id="navbar-list">
        <li class="navbar-list-content">ABOUT</li>
        <li class="navbar-list-content">WORKS</li>
        <li class="navbar-list-content">CONTACT</li>
      </ul>
    </nav>
  </div>

  <!-- INTRODUCTION SECTION -->
  <div id="navbar-content">
    <div id="navbar-content-name">
      <span id="name-hi"> Hi, I'm </span><br />
      <span id="name-john"> john </span><br />
      <span id="name-kervin"> kervin </span><br />
    </div>
    <div id="navbar-content-introduction">
      <div id="navbar-content-int-image">
        <img id="imgofme" src="../../assets/navbar/me.png" alt="">
      </div>
      <div id="navbar-content-int-image-shadow">
        <img id="imgofme2" src="../../assets/navbar/me2.png" alt="">
      </div>
      <div id="navbar-content-int-text">
        <div id="navbar-content-int-text-content">
          <span class="welcome-tag"> &lt;welcome&gt; </span><br />
          <span id="caption-over-second" class="caption"> I'm a web developer </span><br />
          <span class="caption caption-top"> from BCN, Spain. </span><br />
          <span> I'm always trying to improve myself as a web developer, I want to learn new things. </span><br />
          <span class="welcome-tag"> &lt;/welcome&gt; </span><br />
        </div>
      </div>
    </div>
  </div>
</div>