<div id="navbar-background" class="">
  <div id="navbar-content" class="">
    <div id="navbar-content-name">
      <span id="name-hi"> Hi, I'm </span><br />
      <span id="name-john"> john </span><br />
      <span id="name-kervin"> kervin </span><br />
    </div>
    <div id="navbar-content-introduction">
      <div id="navbar-content-int-image">
        <img id="imgofme" src="../../assets/navbar/me.png" alt="">
      </div>
      <div id="navbar-content-int-image-shadow">
        <img id="imgofme2" src="../../assets/navbar/me2.png" alt="">
      </div>
      <div id="navbar-content-int-text">
        <div id="navbar-content-int-text-content">
          <span class="welcome-tag"> &lt;welcome&gt; </span><br />
          <span id="caption-over-second" class="caption"> I'm a web developer </span><br />
          <span class="caption caption-top"> from BCN, Spain. </span><br />
          <span> I'm always trying to improve myself as a web developer, I want to learn new things. </span><br />
          <span class="welcome-tag"> &lt;/welcome&gt; </span><br />
        </div>
      </div>
    </div>
  </div>
</div>