/* You can add global styles to this file, and also import other style files */
/* GLOBAL STYLES  */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #26202E;
    font-family: 'Poppins', sans-serif;
    color: white;
}
